body {
  background-image: url('https://cdn.pixabay.com/photo/2018/05/06/22/13/space-3379658_960_720.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  color: rgb(25, 108, 171);
  font-size: 40px;
  height: 80px;
  text-align: center;
}

.solar {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

.card-planet {
  border: 3px solid rgb(7, 115, 129);
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
}

.card-planet :hover {
  filter: brightness(130%);
  height: 150px;
  transition: 0.3s;
  width: 150px;
}

.img-planet {
  height: 120px;
  width: 120px;
}
